<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rails Application</title>
  </head>
  <body>
    <div class="application" role="application">
      <%= yield :layout %>
    </div>
  </body>
</html>