<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Merb Application</title>
  </head>
  <body>
    <div class="application" role="application">
      <%= catch_content :for_layout %>
    </div>
  </body>
</html>